<% layout("layout/biolerplate") %>
<div class="container">
  <%- include('../partials/flash') %>
  <div id="cluster-map"></div>
    <h1 class="col-9 offset-2 text-center">All campgrounds</h1>
    <div class="row">
      <% for(let camps of campgrounds){ %>
        <div class="col-10 offset-1  mb-3 card">
          <div class="row align-items-center">
            <div class=" col-4  ">
              <%if(camps.image.length) { %>
                <img class="img-fluid" alt="" src="<%=camps.image[0].url%>">
                <% }else {const sample = array => array[Math.floor(Math.random() * array.length)] ;const imgId = [4651015,1273441,24511415,3133499]%>
                <img class="img-fluid" src=<%= `https://source.unsplash.com/collection/${sample(imgId)}/400x300 ` %>  alt="">
                <% } %>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">
                  <%= camps.title %>
                </h5>
                <h6 class="card-title text-muted">
                  <%= camps.location %>
                </h6>
                <p class="card-title">$<%= camps.price %>
                </p>
                <p class="card-text">
                  <%= camps.description %>
                </p>
                <a href="/campground/<%= camps._id %>" class="btn btn-primary">View</a>
                
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>


        </div>
      <% } %>
    </div>


  </div>

  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>


    